<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Advice Generator</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>
  <body>
    <main>
      <% if (locals.advice) { %>
      <h1 class="animate__animated animate__backInDown"><%= advice %></h1>
      <% } else { %>
      <h1>Welcome to Advice Generator</h1>
      <% } %>
      <form action="/submit" method="POST">
        <button>Generate Advice</button>
      </form>
    </main>
  </body>
</html>
